<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript">
      <!-- test 1 -->
      <!-- var localHandler = function(data){ -->
      <!-- alert('我是本地函数，可以被跨域的remote.js文件调用，远程js带来的数据是：' + data.result); -->
      <!-- }; -->

      <!-- test 2 -->
      <!-- // 得到航班信息查询结果后的回调函数 -->
      <!-- var flightHandler = function(data){ -->
      <!-- alert('你查询的航班结果是：票价 ' + data.price + ' 元，' + '余票 ' + data.tickets + ' 张。'); -->
      <!-- }; -->
      <!-- // 提供jsonp服务的url地址（不管是什么类型的地址，最终生成的返回值都是一段javascript代码） -->
      <!-- var url = "/remote/jsonp/flightResult?code=CA1998&callback=flightHandler"; -->
      <!-- // 创建script标签，设置其属性 -->
      <!-- var script = document.createElement('script'); -->
      <!-- script.setAttribute('src', url); -->
      <!-- // 把script标签加入head，此时调用开始 -->
      <!-- document.getElementsByTagName('head')[0].appendChild(script);  -->

      <!-- test 3 -->
      jQuery(document).ready(function(){ 
      $.ajax({
      type: "get",
      async: false,
      url: "/remote/jsonp/flightResult?code=CA1998&callback=flightHandler",
      dataType: "jsonp",
      jsonp: "callback",//传递给请求处理程序或页面的，用以获得jsonp回调函数名的参数名(一般默认为:callback)
      jsonpCallback:"flightHandler",//自定义的jsonp回调函数名称，默认为jQuery自动生成的随机函数名，也可以写"?"，jQuery会自动为你处理数据
      success: function(json){
      alert('您查询到航班信息：票价： ' + json.price + ' 元，余票： ' + json.tickets + ' 张。');
      },
      error: function(){
      alert('fail');
      }
      });
      });
    </script>

    <!-- <script type="text/javascript" src="/static/js/remote.js"></script> -->
  </head>
  <body>

  </body>
</html>
