{% extends '../base.html' %}

{% block main %}
{% set creator = additive.creator %}
<div id="additive-extra">
  <div class="bar noneselectable">
    <i class="icon-slideup"></i>
    <h4>添加剂详情:{{additive.name}}
    </h4>
  </div>

  <table border="1", id="additive-detail-tab">
    <tr>
      <th>属性</th>
      <th>属性值</th>
    </tr>
    <tr>
      <td>别名</td>
      <td>{{additive.alias if additive.alias else u"未知" }}</td>
    </tr>

    <tr>
      <td>CNS号</td>
      <td>{{additive.cns if additive.cns else u"未知" }}</td>
    </tr>

    <tr>
      <td>INS号</td>
      <td>{{additive.ins if additive.ins else u"未知" }}</td>
    </tr>

    <tr>
      <td>功能</td>
      <td>{{additive.effect if additive.effect else u"未知" }}</td>
    </tr>
    <tr>
      <td>ADI</td>
      <td>{{additive_detail.adi if additive_detail and additive_detail.adi else u"未知" }}</td>
    </tr>
    <tr>
      <td>LD50</td>
      <td>{{additive_detail.ld50 if additive_detail and additive_detail.ld50 else u"未知"}}</td>
    </tr>
    <tr>
      <td>应用范围</td>
      <td>{{additive_detail.apply_range if additive_detail and additive_detail.apply_range else u"未知" }}</td>
    </tr>
    <tr>
      <td>安全情况</td>
      <td>{{additive_detail.safe_status if additive_detail and additive_detail.safe_status else u"未知" }}</td>
    </tr>
    <tr>
      <td>制法</td>
      <td>{{additive_detail.preparation if additive_detail and additive_detail.preparation else u"未知" }}</td>
    </tr>
    <tr>
      <td>简洁制法</td>
      <td>{{additive_detail.preparation_short if additive_detail and additive_detail.preparation_short else u"未知" }}</td>
    </tr>

  </table>
</div>
{% end %}

{% block sidebar %}
<div class="upload item" data-url="/additive/{{additive.id}}/update" data-title="修改添加剂" >
    <div class="left"></div>
    
    <div class="center">
      修改添加剂
    </div>
    <div class="right"></div>
</div>
{% include 'sidebar_global.html' %}
{% end %}
