<div class="box">
  <div class="header">录入添加剂</div>
  <div class="body">
    <form id="additive-upload" method="POST" action="/additive" class="flat">
      <div class="section">
        <label for="additive">添加剂名称 (必填)</label>
        <div class="input-single">
          <input type="TEXT" name="name" value="{{handler.get_argument('name', '')}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">其他名称</label>
        <div class="input-single">
          <input type="TEXT" name="alias" value="{{handler.get_argument('alias', '')}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">CNS号 (必填)</label>
        <div class="input-single">
          <input type="TEXT" name="cns" value="{{handler.get_argument('cns', '')}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">INS号</label>
        <div class="input-single">
          <input type="TEXT" name="ins" value="{{handler.get_argument('ins', '')}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">功能 (必填)</label>
        <div class="input-single">
          <input type="TEXT" name="effect" value="{{handler.get_argument('alias', '')}}"/>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          ADI值(包括单位)
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_adi" value="{{handler.get_argument('adi', '')}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">
          LD50值(包括单位)
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_ld50" value="{{handler.get_argument('ld50', '')}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">应用范围</label>
        <div class="input-single">
          <textarea rows="5" name="detail_apply_range"></textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">安全情况</label>
        <div class="input-single">
          <textarea rows="5" name="detail_safe_status">  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          使用情况
        </label>
        <div class="input-single">
          <textarea rows="5" name="detail_using_status">  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">潜在危害</label>
        <div class="input-single">
          <textarea rows="5" name="detail_safe_risk"> </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          安全性排名
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_safe_rank"/>
        </div>
      </div>

      <div class="section">
        <input type="SUBMIT" value="提交" class="btn primary-btn" />
      </div>
    </form>
  </div>
</div>

<script type="text/javascript"> $('#additive-upload').ajaxSubmit() </script>
