<div class="box">
  <div class="header">修改添加剂</div>
  <div class="body">
    <form id="additive-update" method="POST" action="/additive/{{additive.id}}/update" class="flat">
      <div class="section">
        <label for="additive">添加剂名称 (必填)</label>
        <div class="input-single">
          <input type="TEXT" name="name" value="{{additive.name}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">其他名称</label>
        <div class="input-single">
          <input type="TEXT" name="alias" value="{{additive.alias}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">CNS号 (必填)</label>
        <div class="input-single">
          <input type="TEXT" name="cns" value="{{additive.cns}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">INS号</label>
        <div class="input-single">
          <input type="TEXT" name="ins" value="{{additive.ins}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">功能 (必填)</label>
        <div class="input-single">
          <input type="TEXT" name="effect" value="{{additive.effect}}"/>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          ADI值(包括单位)
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_adi" value="{{additive_detail.adi if additive_detail and additive_detail.adi else ''}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">
          LD50值(包括单位)
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_ld50" value="{{additive_detail.ld50 if additive_detail and additive_detail.ld50 else ''}}" />
        </div>
      </div>
      <div class="section">
        <label for="additive">应用范围</label>
        <div class="input-single">
          <textarea rows="8" name="detail_apply_range">
	    {{additive_detail.apply_range if additive_detail and additive_detail.apply_range else ''}}
	  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">安全情况</label>
        <div class="input-single">
          <textarea rows="5" name="detail_safe_status">
	    {{additive_detail.safe_status if additive_detail and additive_detail.safe_status else ''}}
	  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          使用情况
        </label>
        <div class="input-single">
          <textarea rows="5" name="detail_using_status">
	    {{additive_detail.using_status if additive_detail and additive_detail.using_status else ''}}
	  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">潜在危害</label>
        <div class="input-single">
          <textarea rows="5" name="detail_safe_risk">
	    {{additive_detail.safe_risk if additive_detail and additive_detail.safe_risk else ''}}
	  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          安全性排名
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_safe_rank" value="{{additive_detail.safe_rank if additive_detail and additive_detail.safe_rank else ''}}"/>
        </div>
      </div>

      <div class="section">
        <label for="additive">制法</label>
        <div class="input-single">
          <textarea rows="8" name="detail_preparation">
	    {{additive_detail.preparation if additive_detail and additive_detail.preparation else ''}}
	  </textarea>
        </div>
      </div>
      <div class="section">
        <label for="additive">
          简洁制法
        </label>
        <div class="input-single">
          <input type="TEXT" name="detail_preparation_short" value="{{additive_detail.preparation_short if additive_detail and additive_detail.preparation_short else ''}}"/>
        </div>
      </div>
      <div class="section">
        <input type="SUBMIT" value="提交" class="btn primary-btn" />
      </div>
    </form>
  </div>
</div>

<script type="text/javascript"> $('#additive-update').ajaxSubmit() </script>
