<div class="box">
    <div class="header">基本信息</div>
    <div class="body">
        <form action="/settings/profile" method="POST" class="flat" rel="ajax">
            <div class="section">
                <label> 昵称 <p class="tip">不超过12个字符</p> </label>
                <div class="input">
                    <input type="TEXT" name="fullname" value="{{current_user.fullname}}" />
                    <span class="error" id="fullname-error"></span>
                </div>
            </div>
            <div class="section">
                <label> 不喜欢的添加剂 <p class="tip">多个添加剂用","分割</p> </label>
                <div class="input">
                    <input type="TEXT" name="addis_hate" value="{{profile.addis_hate}}" />
                </div>
            </div>
            <div class="section">
                <label> 喜欢的食品 <p class="tip">多个食品用","分割</p> </label>
                <div class="input">
                    <input type="TEXT" name="foods_like" value="{{profile.foods_like}}" />
                </div>
            </div>
            <div class="section">
                <label> 关于我 <p class="tip">让大家能更好地了解你</p> </label>
                <div class="textarea">
                    <textarea rows="3" name="bio">{{profile.bio}}</textarea>
                </div>
            </div>
            <div class="section">
                <input type="SUBMIT" value="更新资料" class="btn primary-btn" />
                <span class="success hide">更新成功</span>
            </div>
        </form>
    </div>
</div>
