{% from datetime import datetime %}
{% from macros.macro import USER_LEVEL_CN %}
{% set user = handler.user %}
{% set profile = user.profile %}

<div class="box" id="panel-user">
    <div class="header">
        {% if current_user and current_user.id == user.id %}我{% else %}{{user.fullname}}{% end %}的信息</div>
    <div class="body">
        <img class="avatar" src="{{get_avatar_url(user, 'l')}}" />
        <h3>{{user.fullname}}</h3>
        <i class="icon-level{{user.level}}" title="{{USER_LEVEL_CN[user.level]}}"></i>
        <p class="clearfix"></p>
        <p class="meta">第{{user.id}}号会员，{{datetime.fromtimestamp(user.created).strftime('%Y-%m-%d')}}加入</p>

        {% if profile.foods_like or profile.addis_hate or profile.link_weibo or profile.link_qq or profile.bio %}
        <p class="divider"></p>
        {% end %}

        {% if profile.foods_like %}
        <p class="param">喜欢的食物：{{profile.foods_like}}</p>
        {% end %}
        {% if profile.addis_hate %}
        <p class="param">不喜欢的添加剂：{{profile.addis_hate}}</p>
        {% end %}

        {% if profile.link_weibo or profile.link_qq %}
        <p class="param">网上据点：
        {% if profile.link_weibo %}
        <a href="{{profile.link_weibo}}" target="_blank">新浪微博</a>
        {% end %}
        {% if profile.link_qq %}
        <a href="{{profile.link_qq}}" target="_blank">腾讯QQ</a>
        {% end %}
        </p>
        {% end %}

        {% if profile.bio %}
        <div class="bio">
            <div class="icon-bio"></div>
            <div class="content">{{profile.bio}}</div>
        </div>
        {% end %}

        <p class="divider"></p>
        <div class="data">
            <div class="item" data-url="/user/{{user.username}}/additives">
                <h4>{{user.additive_count}}</h4>
                <p>添加剂</p>
            </div>
        </div>
    </div>
</div>
